main {
    position: relative;
}

#div-with-user-name {
    position: absolute;
    display: none;    
}

#baby-details {
    position: absolute;
    display: none;
}

#feeding-div {
    display: none;
}

